.content{
   box-sizing: border-box;
   background-color: pink;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;

}

.location-select{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 20px 0;
    background-color: yellow;
}

.example-full-width{
    margin-top: 20px;
}

.weather-details{
    width: 85%;
    min-height: 400px;
    background-color: lightgreen;
    padding: 10px;
}