.content{
    padding: 20px;
    border: 2px solid fuchsia;
    display: flex;
    justify-content: space-evenly;
    
    
}

.forecast{

    display: inline-block;
    border: 1px solid green;
    padding: 10px;
    width: 200px;
}
.forecast:hover{
    cursor: pointer;
    border-radius: 5px;
    transform: scale(1.01);
    font-weight: 600;
}